<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalji Korisnika</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
        <h1 class="text-2xl font-semibold text-gray-800 text-center">Detalji Korisnika</h1>
        <p class="mt-4 text-gray-600"><strong>Korisničko ime:</strong> {{ user.username }} </p>
        <p class="mt-4 text-gray-600"><strong>Email:</strong> {{ user.email }} </p>

        <ul class="mt-4 space-y-3 text-left">
        <li><a href="{% url 'main:participation_list' %}" class="text-blue-600 hover:underline">Moja Sudjelovanja</a></li>
        <li><a href="{% url 'main:my_event_list' %}" class="text-blue-600 hover:underline">Moji događaji</a></li>
        </ul>
        
        <hr class="my-6">

        <div class="mt-6 flex justify-between">
            <a href="{% url 'main:home' %}" class="text-blue-600 hover:underline">🏠 Početna</a>
        </div>
    </div>
</body>
</html>
