<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popis Sudjelovanja</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-lg">
        <h1 class="text-2xl font-semibold text-gray-800 text-center">Popis Mojih Sudjelovanja</h1>


        <ul class="mt-6 space-y-2">
            {% for participation in participations %}
                <li>
                    <a href="{% url 'main:event_detail' participation.event.pk %}" class="text-blue-600 hover:underline">
                        {{ participation.event.title }}
                    </a>
                    <p class="text-gray-600">Lokacija: {{ participation.event.location }}</p>
                    <p class="text-gray-600">Datum: {{ participation.event.date }}</p>
                </li>
            {% empty %}
                <li class="text-gray-600">Nema sudjelovanja.</li>
            {% endfor %}
        </ul>

        <hr class="my-6">

        <div class="mt-6 flex justify-between">
            <a href="{% url 'main:home' %}" class="text-blue-600 hover:underline">🏠 Početna</a>
            <a href="{% url 'main:user_detail' user.id %}" class="text-blue-600 hover:underline">🔙 Povratak na profil</a>
        </div>
    </div>
</body>
</html>
